@import './root.styles.css';

body {
  font-family: var(--main-font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  color: var(--main-text-clr);
  background-color: var(--primary-bg-clr);
}

.container {
  min-width: 320px;
  max-width: 448px;
  margin: 0 auto;
  padding: 0 7px;
  max-width: 320px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 962px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

.section-container {
  padding: 0 20px;
  color: var(--main-text-clr);
}

/* HEADER SECTION */

.header {
  position: fixed;
  top: 0;
  z-index: var(--high-index);

  display: flex;
  align-items: center;

  min-width: 100%;
  min-height: 80px;

  color: var(--header-text-clr);
  background-color: var(--secondary-bg-clr);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation {
  display: flex;
  gap: 15px;
}

.nav-list {
  display: flex;
  gap: 10px;
  align-items: center;

  font-size: 12px;
}

.nav-item {
  transition: text-shadow var(--low-transition), color var(--low-transition);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--hover-clr);
  text-shadow: rgba(140, 169, 164, 0.35) 1px 0 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  font-family: var(--main-font-family);
  font-size: 10px;
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  border: 2px solid #caffea;
  border-radius: 25px;
  color: var(--btn-clr);
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--low-transition),
    color var(--low-transition);
}

.btn:hover,
.btn:focus {
  color: var(--secondary-txt-clr);
  background-color: var(--hover-clr);
  box-shadow: rgba(242, 201, 76, 0.35) 0px 5px 15px;
}

/* FIRST section */
.first-section {
  display: flex;
  flex-direction: column;
  gap: 50px;

  height: 400px;
  padding: 40px 20px;
  margin-top: 80px;
  margin-bottom: 40px;

  background-image: url('../assets/images/football.png');
  background-size: 520px 400px;
  background-repeat: no-repeat;
}

.first-section-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-title {
  font-size: 40px;
}

.first-section-txt {
  font-size: 28px;
}

.first-sec-btn {
  width: 200px;
  height: 40px;
  font-size: var(--font-size);
  color: var(--secondary-txt-clr);
  background-color: var(--hover-clr);
}

/* SECOND section */
.second-section {
  margin-bottom: 40px;
}

.second-sec-txt-wrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.second-section-title {
  font-size: 40px;
}

.second-sec-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.second-sec-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second-sec-txt-thumb {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.second-sec-list-title {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--title-clr);
}

.second-sec-list-txt {
  font-size: 12px;
}

.second-sec-item {
  display: flex;
  gap: 20px;
  align-items: center;
}
/* ADAPTIVE */
@media screen and (min-width: 768px) {
  .container {
    max-width: 744px;
    padding: 0 16px;
  }

  .header-container {
    width: 744px;
    justify-content: space-between;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .nav-list {
    gap: 15px;
    font-size: var(--font-size);
  }

  .btn {
    padding: 7px 25px;
    font-size: 18px;
  }

  .first-section {
    padding: 30px;
    background-size: cover;
  }

  .main-title {
    font-size: 40px;
  }

  .first-sec-btn {
    width: 250px;
    backdrop-filter: blur(6px);
  }

  .second-sec-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1180px;
  }

  .header-container {
    width: 1180px;
  }

  .nav-list {
    gap: 35px;
    font-size: 30px;
  }

  .btn {
    width: 200px;
    font-size: 24px;
  }

  .first-section {
    height: 600px;
    padding: 60px;
  }

  .main-title {
    font-size: 60px;
  }

  .first-section-txt {
    font-size: 40px;
  }

  .first-sec-btn {
    width: 350px;
    height: 60px;
    font-size: 30px;
    color: var(--btn-clr);
    background-color: transparent;
  }

  .second-sec-list {
    justify-content: center;
    gap: 45px;
  }

  .second-sec-txt-wrap {
    font-size: 20px;
  }

  .second-sec-list-title {
    font-size: 20px;
  }

  .second-sec-list-txt {
    font-size: var(--font-size);
  }

  .second-section-title {
    font-size: 40px;
  }

  .second-sec-img {
    width: 80px;
    height: 80px;
  }
}
